*{
    margin: 0;
    padding: 0;
}

body{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    font-family: 'Nunito Sans', sans-serif ;
}

a{
    text-decoration: none;
    color: black;
}
.link{
    color: #B67DFF;
}

h2{
    font-size: 55px;
    
}

h3{
    font-size: 40px;
}

p ,
li{
    font-size: 18px;
}

p{
    margin-top: 40px;
}


/*       ----- header section -----       */

header {
    width: 1200px;
}

nav{
    margin-bottom: 70px;
    padding-top:30px ;
    position: relative;
    width: 1200px;
    display: flex;
}

#logo{
    display: flex;
       
}
#logo span{
    background: rgb(212, 212, 210);
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-transform: capitalize;
    font-style : italic;
    font-weight: 800;
}

h1{
    margin-left: 10px;
    font-size: 18px;
}
.nav-link{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
}

.nav-link li{
    margin-top: 15px;
    padding: 0 30px;
}

/*      -----intro-section-----      */

#where-to-follow{
    width: 1200px;
    margin-top: 100px;
}

.row-one ,
.row-two {
    display: flex;
    margin-top: 60px;
}

.row-two{
    margin-top: 200px;
}

.row-one-right ,
.row-two-left ,
.row-one-left ,
.row-two-right{
    width: 50%;
    position: relative;
    
}

.row-one-right ,
.row-two-left {
    text-align: left;
}

.icon{
    width:350px;
    height: 300px;
}

.youtube {
    position: absolute;
    left: 0px;
    bottom: 20px;
    
}

/*      -----footer-----      */
footer{
    margin-top: 100px;
    width: 1200px;
}