*{
    margin: 0;
    padding: 0;
    
}

body{
    width: 1200px;
    background-color: white;
    font-family: 'Nunito Sans', sans-serif ;
    margin: 0 auto;

}

h2{
    font-size: 55px;
    
}
p{
    font-size: 18px;
    margin-top: 55px;
}

a{
    text-decoration: none;
    color: black;
}
button{
    background-color: white;
}
/* nav bar */

nav{
    margin-bottom: 70px;
    padding-top:30px ;
    position: relative;
    width: 1200px;
}

nav,
#logo{
    display: flex;
       
}
#logo span{
    background: rgb(212, 212, 210);
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-transform: capitalize;
    font-style : italic;
    font-weight: 800;
}

h1{
    margin-left: 10px;
    font-size: 18px;
}
.nav-link{
    display: flex;
    list-style: none;
    /* margin-left: 830px; */
    position: absolute;
    right: 0;
}
.nav-link li{
    /* margin-right:70px ; */
    margin-top: 15px;
    padding: 0 30px;
}

/* section intro */

#section-intro{
    display: flex;
    margin-bottom: 50px;
    width: 1200px;
}

.section-1-left{
    position: relative;
}
.section-1-button{
    border: 1px solid black;
    border-radius: 34px;
    padding: 20px 40px;
    font-weight: 1000;
    position: absolute;
    bottom: 0px;
}



/* section two */

#section-intro-2{
    display: flex;
    margin-bottom: 50px;
}

.section-2-left{
    border: 1px solid black;
    
}
.section-2-left img{
    width: 200px;
    height: 200px;
}

.row-one ,
.row-two{
    display: flex;
}

.section-2-right{
    margin-left: 130px;
    position: relative;
}
.section-2-button{
    border: 1px solid black;
    border-radius: 34px;
    padding: 20px 40px;
    font-weight: 1000;
    position: absolute;
    bottom: 0px;
}

/* section tree */

#latest-videos{
    margin-bottom: 50px;
}

.latest-videos-part-1{
    display: flex;
    position: relative;
    margin-bottom: 50px;
}

.section-3-button{
    border: 1px solid black;
    border-radius: 34px;
    padding: 20px 40px;
    font-weight: 1000;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.videos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:center;
    margin:50px 50px 20px 50px;
    /* border: 1px solid black;
    margin-bottom: 50px; */
}
.video{
    width:300px ;
    height:300px;
    /* border: 1px solid black; */
    
}
 .box-video-one ,
 .box-video-two ,
 .box-video-tree {
    border: 1px solid black;
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
 }
/* footer */
footer p{
    text-align: center;
}
